extends layout

mixin meetingItem(client_name, start_time, end_time, to_do_latest)
    a.list-group-item.list-group-item-action.flex-column.align-items-start.my-2.shadow(href='/clientDashboard')
        .d-flex.w-100.justify-content-between
            h4.mb-1= client_name
            .d-flex.w-50.justify-content-end
                h5 
                    b #{start_time} - #{end_time}
        h6.mb-1= to_do_latest


block content

    h1 Welcome back! #{locals.user.name}
    br
    .container
        .row.mb-0
            .col
                h3.mt-2.mb-0.pt-2 Your Schedule Today:
            .col.text-end
                a.btn.btn-primary.m-2.shadow(href='/newItem', role='button') 
                    i.fas.fa-plus
                    | New Item
        hr
        .list-group
            +meetingItem("Shagun Sood", "1:00 PM", "1:30 PM", "Need to dig deeper into trauma")
            +meetingItem("Shagun Sood", "1:00 PM", "1:30 PM", "Need to dig deeper into trauma")
            +meetingItem("Shagun Sood", "1:00 PM", "1:30 PM", "Need to dig deeper into trauma")
            +meetingItem("Shagun Sood", "1:00 PM", "1:30 PM", "Need to dig deeper into trauma")
            +meetingItem("Shagun Sood", "1:00 PM", "1:30 PM", "Need to dig deeper into trauma")
